/* THIS HAS BEEN REPLICATED IN THE PLANETS FOLDER ALL AS THEIR OWN CSS FILES (ONE FOR EACH PLANET) - THIS FILE SHOULD NOT BE USED */

/* section {
    display: flex;
    background-color: hsl(227, 54%, 15%);
    padding: 1rem;
    flex-wrap: wrap;
    align-items: center;
} */

/* .planet {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
} */

/* .planet {
    margin: 1rem;
    display: flex;
    border-radius: 50%;
    position: relative;
} */

/* .planet:not(#saturn-container) {
    display: none;
} */

/* #sun {
    background-color: rgb(255, 175, 46);
} */

/* #mercury, #mars {
    width: 2.5rem;
    height: 2.5rem;
}

#venus, #earth {
    width: 5rem;
    height: 5rem;
}

#uranus, #neptune {
    width: 9rem;
    height: 9rem;
} */

/* #mercury {
    background: radial-gradient(circle at 0.5rem 1rem, hsl(35, 36%, 60%) 0%, hsl(0, 0%, 10%) 95%);
} */

/* #venus {
    background: radial-gradient(circle at 1rem 2rem, hsl(20, 55%, 50%) 0%, hsl(0, 0%, 10%) 95%);
} */

/* #earth {
    background: radial-gradient(circle at 1rem 2rem, hsl(232, 74%, 65%) 0%, hsl(0, 0%, 10%) 95%);
} */

/* #mars {
    background: radial-gradient(circle at 0.5rem 1rem, hsl(14, 90%, 50%) 0%, hsl(0, 0%, 10%) 95%);
} */

/* #jupiter {
    width: 20rem;
    height: 20rem;
    background: radial-gradient(circle at 2rem 10rem, hsl(23, 83%, 72%) 0%, hsl(0, 0%, 10%) 95%);
} */

/* ---------- START OF SATURN ---------- */

/* #saturn-container {
    width: 25.5rem;
    height: 19rem;
}

#saturn {
    position: absolute;
    left: 6rem;
    margin: 1rem .25rem 0rem;
    width: 17rem;
    height: 17rem;
    background: radial-gradient(circle at 2rem 10rem, hsl(41, 85%, 74%) 0%, hsl(0, 0%, 10%) 95%);
    transform: rotate(25deg);
}

#saturn-rings {
    position: absolute;
    background-color: transparent;
    border-radius: 50%;
    width: 20rem;
    height: 7rem;
    z-index: 1;
    top: 2rem;
    left: -4.5rem;
    border:hsla(0, 0%, 78%, 0.5) solid 3rem;
}

#saturn-hiding {
    position: absolute;
    width: 17rem;
    height: 8.5rem;
    border-radius: 8.5rem 8.5rem 0% 0%;
    z-index: 2;
    background: radial-gradient(circle at 2rem 10rem, hsl(41, 85%, 74%) 0%, hsl(0, 0%, 10%) 95%);
    box-shadow: inset -1em -1rem -1rem hsla(0, 0%, 50%, 0.5);
} */

/* ---------- END OF SATURN ---------- */

/* #uranus {
    background: radial-gradient(circle at 1rem 4.5rem, hsl(205, 100%, 69%) 0%, hsl(0, 0%, 10%) 95%);
} */

/* #neptune {
    background: radial-gradient(circle at 1rem 4.5rem, hsl(231, 62%, 72%) 0%, hsl(0, 0%, 10%) 95%);
} */