#saturn-container2 {
    position: relative;
    width: 25.5rem;
    height: 19rem;
    margin-left: -2.5rem;
    margin-right: 1.5rem;
}

#saturn2 {
    position: absolute;
    left: 6rem;
    margin: 1rem .25rem 0rem;
    width: 17rem;
    height: 17rem;
    background: radial-gradient(circle at 2rem 10rem, hsl(41, 85%, 74%) 0%, hsl(0, 0%, 10%) 95%);
    transform: rotate(25deg);
    border-radius: 50%;
}

#saturn-rings2 {
    position: absolute;
    background-color: transparent;
    border-radius: 50%;
    width: 20rem;
    height: 7rem;
    z-index: 1;
    top: 2rem;
    left: -4.5rem;
    border:hsla(0, 0%, 78%, 0.5) solid 3rem;
}

#saturn-hiding2 {
    position: absolute;
    width: 17rem;
    height: 8.5rem;
    border-radius: 8.5rem 8.5rem 0% 0%;
    z-index: 2;
    background: radial-gradient(circle at 2rem 10rem, hsl(41, 85%, 74%) 0%, hsl(0, 0%, 10%) 95%);
    box-shadow: inset -1em -1rem -1rem hsla(0, 0%, 50%, 0.5);
}